* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image:url("../images/bridge-to-nowhere.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
.instagram {
    max-width: 90%;
    margin: auto;
}
.instagram-image{
    border-radius: 10px;
    max-width:100%;
    display:block;
}
.menubutton {
    display:none;
}
.menu{
    display: none;
    list-style: none;
    border:1px solid red;
    position: absolute;
    background-color: red;
    margin:0px;
    margin:auto;
    border-radius: 10px;
    padding:1em;
     
}
.menu li{
    padding:1em;

}
.mobilename{
    display:none;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
a {
    color:black;
}
a:hover{
    font-style: none;
}

.row1 {
    width: 100%;
    display: flex;
    border-bottom: 2px solid red;
    border-radius: 15px;
}

.row2 {
    width:100%;
    display:flex;
    
}

.row3 {
    width: 100%;
    display: flex;
}
.row4{
    width: 100%;
    display: flex; 
}
.close{
    padding-top: 5px;
    font-size: 12px;
}
.name {
    text-align: center;
}
.title {
    margin: auto;
    padding-bottom:1em;
    padding-top: 1em;
}
.nav {
    background-color: transparent;
    margin-left:10px;
    padding-right:10px;
    border-left: 2px solid red;
    border-right: 2px solid red;
    list-style: none;
    padding-top:50px;
    padding-bottom:200px;
    position:fixed;
    text-align: left;
    border-radius: 15px;
}
.nav li{
    padding-top: 30px;
    font-size: 18px;
}
.contact p{
    text-align: center;
}


.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

 @media only screen and (max-width:40em) {
    
    .nav {
        display:none;
    }
    .instagram {
        max-width: 90%;
        margin:auto;
    }
    .instagram-image{
        max-width:100%;
        display:block;
    }
    .caption {
        display:none;
    }
    .row1 {
        font-size: 1em;
    }
    .name{
        display:none;
    }
    .mobilename{
        display:block;
    }
    .menubutton{
        display:block;
        list-style: none;
        text-align: center;
    }

    .col-9{
        width:100%;
    }
    .col-8 {
        width:100%;
    }
    .title{
        margin:auto;
        font-size: 1.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
 }