{% load staticfiles %}

<!doctype html>
    <html>
      <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Rachell Calhoun</title>
         <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
         <link type="text/css" rel="stylesheet" href="{% static 'staticsites/mainstyle.css'%}"/>
         <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        
      </head>
      
<body>
  <div class="grid">
    <div class="row1">
      <div class="col-3">
      <p class="name">Rachell and DaYoung</p>
      <p class="mobilename">Rachell DY</p>
      </div>
      <div class="col-6">
          <p class="menubutton">Menu</p>
            <ul class="menu">
              <li><a href="/home">Home</a></li>
              <li><a href="/ourstory">Our Story</a></li>
              <li><a href="/registry">Registry</a></li>
              <li><a href="/rsvp">RSVP</a></li>
              <li><a href="/info">Info</a></li>
              <li><a href="/photos">#RachellDY</a></li>
            </ul>
      </div>
      <div class="col-3">
        <p><a class="contact" href="mailto:rachell.calhoun@gmail.com">Email Us</a></p>
      </div>
      
    </div>
    
    <div class="row2">
        <div class="col-3">
            <ul class="nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/ourstory">Our Story</a></li>
              <li><a href="/registry">Registry</a></li>
              <li><a href="/rsvp">RSVP</a></li>
              <li><a href="/info">Info</a></li>
              <li><a href="/photos">#RachellDY</a></li>
            </ul>
            
        </div>
        
        <div class="col-9">
          <h1 class="title">Places to stay and things to do !</h1>
        </div>
      
      
  </div>
    
    <div class="row3 content">
      <div class="col-3">
      </div>
      <div class="col-9">
      <!--rave reviews of kzoo-->
        <div id="TA_cdsdmo646" class="TA_cdsdmo widget">
            <ul id="hFQnF8w3" class="TA_links WKxWoSlkKH">
              <li id="LgK9G3" class="1vpuc4Re">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/partner/tripadvisor_logo_146x22-11324-2.gif" alt="TripAdvisor"/></a>
              </li>
            </ul>
        </div><!--rave reviews of kzoo close-->
      
        
            <!--best of kzoo-->
          <div id="TA_impdestnarrow367" class="TA_impdestnarrow widget">
            <ul id="lHbWGbxvy8R" class="TA_links MHAQsMHn">
              <li id="JTNZiDtK" class="joMfnRza">
              <a target="_blank" href="http://www.tripadvisor.com/"><img src="http://www.tripadvisor.com/img/cdsi/img2/sprites/cdsWdgtV8-13344-2.png" alt="TripAdvisor"/></a>
              </li>
            </ul>
          </div><!--best of kzoo close-->
         
      </div>
    
  </div>
</body>
<footer>
  <div class="row4">
      <div class="col-3"></div>
      <div class="col-6">
        <p class="close">All rights reserved by <em>Rachell Calhoun</em></p>
      </div>
      <div class="col-3"></div>
  </div>
</footer>
</html>
<!--music requests script-->

<!--reviews of kzoo script-->
<script src="http://www.jscache.com/wejs?wtype=cdsdmo&amp;uniq=646&amp;locationId=42609&amp;lang=en_US&amp;photo=true&amp;hotel=y&amp;attraction=y&amp;restaurant=y&amp;display_version=2"></script>

<!--best of kzoo script-->
<script src="http://www.jscache.com/wejs?wtype=impdestnarrow&amp;uniq=367&amp;locationId=42609&amp;lang=en_US&amp;border=true&amp;display_version=2&amp;ltype=v"></script>


<script type="text/javascript">
  $(document).ready(function() {
    $('.menubutton').on('click', function(){
      $('.menu').toggle();
    })
  })

</script>
