{% load staticfiles %}

<!doctype html>
    <html>
      <head>
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>Rachell Calhoun</title>
         <link rel="shortcut icon" type="image/x-icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-04-11/9b70faf47d3f0c13a97b7d14e4c44152.ico" /> 
         <link type="text/css" rel="stylesheet" href="{% static 'staticsites/mainstyle.css'%}"/>
         <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        
      </head>
      
<body>
  <div class="grid">
    <div class="row1">
      <div class="col-3">
      <p class="name">Rachell and DaYoung</p>
      <p class="mobilename">Rachell DY</p>
      </div>
      <div class="col-6">
          <p class="menubutton">Menu</p>
            <ul class="menu">
              <li><a href="/home">Home</a></li>
              <li><a href="/ourstory">Our Story</a></li>
              <li><a href="/registry">Registry</a></li>
              <li><a href="/rsvp">RSVP</a></li>
              <li><a href="/info">Info</a></li>
              <li><a href="/photos">#RachellDY</a></li>
            </ul>
      </div>
      <div class="col-3">
        <p><a class="contact" href="mailto:rachell.calhoun@gmail.com">Email Us</a></p>
      </div>
      
    </div>
    
  <div class="row2">
    <div class="col-3">
      <ul class="nav">
              <li><a href="/home">Home</a></li>
              <li><a href="/ourstory">Our Story</a></li>
              <li><a href="/registry">Registry</a></li>
              <li><a href="/rsvp">RSVP</a></li>
              <li><a href="/info">Info</a></li>
              <li><a href="/photos">#RachellDY</a></li>
            </ul>
            
        </div>
       
        <div class="col-9">
          <h1 class="title">This is our story! <h1>
     
      </div>
      
  </div>
    
    <div class="row3 content">
      <div class="col-3">
      </div>
      <div class="col-9">
        <p>Lorem ipsum dolor sit amet, vidit quando ne nam. Noluisse expetenda interpretaris id vim. Ne vim iuvaret honestatis, ne vis ferri accusam. Alterum conceptam maiestatis ei mel, ex est omnium atomorum, ei eos dicat nonumy honestatis. At sumo omnium pertinacia mel.</p>

<p>Accusamus efficiendi at duo, ei has recusabo gloriatur rationibus. Melius liberavisse sea at, epicuri disputando mea no. Ei sea enim magna petentium, pro ridens dissentiunt concludaturque at, an eam zril consectetuer. Mei ne tantas scribentur, vim definiebas reprimique definitiones ea.</p>

<p>Cibo evertitur sententiae cum ad, mea id mundi partem, sensibus inimicus similique ei nec. No partem voluptaria est, sed at utinam contentiones, adhuc forensibus ex vis. Audiam assueverit te mea, ipsum sanctus postulant ei mea. An omnes eleifend argumentum cum, id pro zril principes accommodare, no duo esse munere voluptaria. Mea eu malorum luptatum corrumpit, vix et integre ocurreret.</p>

<p>Te corpora dissentiunt vim, eum an solum possit, has ei iuvaret legendos. Te labore impetus repudiandae duo, no assum altera eam. Vim id conceptam consectetuer, eum putant maiorum qualisque eu. Quo quod odio habeo an. Alii euismod sententiae ea sed, te veniam corpora instructior sit. Eu eam congue urbanitas, ubique populo possit te eam, elit choro facilis et nam.</p>

<p>Sed ei aeterno abhorreant voluptatibus, his quot quidam luptatum ei. Vix ea prima invenire splendide, clita accusamus vim an. Natum aperiri tincidunt te vix. Ipsum omittam an nam. Ex etiam virtute perfecto eos. Oportere accommodare ad mea, iisque democritum mel eu.</p>
      </div>
    
  </div>
</body>
<footer>
  <div class="row4">
      <div class="col-3"></div>
      <div class="col-6">
        <p class="close">All rights reserved by <em>Rachell Calhoun</em></p>
      </div>
      <div class="col-3"></div>
  </div>
</footer>
</html>





<script type="text/javascript">
  $(document).ready(function() {
    $('.menubutton').on('click', function(){
      $('.menu').toggle();
    })
  })

</script>